  body{
      margin: 0;
    }
    h1{
        font-size: 40px;
    }
    .name{
        color: crimson;
    }
    h1{
        font-family: 'Redressed', cursive;
    }
    .half-width{
        width: 42%;
        float: left;
        margin-left: 2%;
        padding-left: 2%;
        padding-top: 60px;
    }
    .half-width img{
        width: 100%;

    }
    .Top{
       background-repeat: no-repeat;
        background-image: url(Images/BG.JPG);
        border-radius: 40px;
    }
    .dream-area{
        background-repeat: no-repeat;
        background-image: url(Images/dream-bg.png);
        border-radius: 100px;
        background-position: right;
    }
    .title-font{
        font-family: 'Noto Serif', serif;
        color: hsl(345, 86%, 20%);
        font-weight: 700px;
        text-shadow: 3px 3px 8px steelblue;
    }
    #Paragraph1-font{
        font-family: 'Noto Serif', serif;
        color: hsl(143, 79%, 68%);
        text-shadow: 2px 2px 4px #0f0c0e;
        color ;
    }
    #Paragraph2-font{
        font-family: 'Noto Serif', serif;
        color: rgba(66, 73, 80, 0.699);
        text-shadow: 2px 2px 5px #2f2530;
    }
    section{
        height: 500px;
        padding-bottom: 100px;
        
        
    }
    .Link-button{
        text-decoration: none;
        background-image: linear-gradient(120deg, rgb(253, 80, 11), tomato);
        padding: 10px 20px;
        border-radius: 5px;
        color: #0f0c0e;
        font-weight: bold;
        box-shadow: 4px 4px 6px rgb(34, 34, 27);

    }
    .single-experience{
        box-shadow: 15px 15px 30px rgb(228, 231, 19);
        border-radius: 10px;
        height: 60%;
        color: lavenderblush;
        
    }
    .Single-bold-word{
        font-family: 'Noto Serif', serif;
        color: rgb(175, 31, 31);
        padding-left: 20px;
        padding-top: 20px;
        text-shadow: 4px 4px 8px rgb(48, 36, 43);
    }
    .experience-area{
    background-image: radial-gradient(rgb(252, 138, 138), rgb(111, 111, 250));
    background-repeat: no-repeat;
    }
    #full-stack{
        border-left: 7px solid;
        border-image: linear-gradient(lightsalmon, rgb(71, 255, 95));
        border-image-slice: 1;
        background-color: rgba(0, 0, 255, 0.363) 
    }
    #baby-web{
        border-left: 7px solid;
        border-image: linear-gradient(lightsalmon, rgb(71, 255, 95));
        border-image-slice: 1;
        background-color: rgba(0, 0, 255, 0.363) ;
    }
    .last-title{
        color: #fd9824;
        text-shadow: 2px 2px 4px rgb(241, 53, 53);
    }
    .last-paragraph{
        font-family: 'Noto Serif', serif;
        color: #2b2f33;
        text-shadow: 2px 2px 3px #fbfbfc;
        text-align: left;

    }
    footer{
        text-align: center;
        font-size: 30px;
        color: lightslategrey;
        text-shadow: 2px 2px 2px rgba(25, 245, 91, 0.438);
    }



